/* You can add global styles to this file, and also import other style files */
/* Google Font's for application */
@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

* {
  font-family: "Quicksand", sans-serif !important;
}

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
